@import "tailwindcss";

@font-face {
  font-family: heading;
  src: url(/fonts/heading.otf);
}
@font-face {
  font-family: heading-2;
  src: url(/fonts/heading-2.otf);
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: #0f172a; */
  color: white;
  font-size: 12px;
  /* user-select: none; */
}
*{
  cursor: none
}

@import "tailwindcss";

/* Custom Container */
@layer components {
  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1440px;
    }
  }
}

.text-heading{font-family: heading;}
.text-heading-2{font-family: heading-2;}